<header>
  <div>
    <h1>Trello-Angular</h1>
  </div>
</header>
<section class="section-list">
  <div class="section-list-card" *ngFor="let list of lists">
    {{list.titleList}}
    <div class="section-list-card-item" *ngFor="let listCard of list.cardsList">
      {{listCard.titleCard}}
      <button (click)="deleteNewCard(listCard)">Delete Card</button>
    </div>
    <form action="submit" class="section-form-card">
      <input type="text" class="section-form-input-card" [(ngModel)]="titleCard" name="nameTitleCard">
      <button (click)="addNewCard()">Add Card</button>
    </form>
    <button (click)="deleteNewList(list)">Delete List</button>
  </div>
  <form action="submit" class="section-form">
    <input type="text" class="section-form-input" [(ngModel)]="titleList" name="nameTitleList">
    <button (click)="addNewList()">Add List</button>
  </form>
</section>